.expense-filter {
    margin-bottom: 1rem;
  }
  
  .expense-filter__control {
    display: flex;
    align-items: center;
  }
  
  .expense-filter__control label {
    /* font-weight: bold; */
    margin-right: 0.5rem;
    color: #ffffff;
  }
  
  .expense-filter__control select {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  